.form-container{
    display: inline-block;
    height: 100px;
    width: 300px;
}
.name{
    margin: 2px;
}
.price{
    margin: 2px;
}
.date{
    margin: 2px;
    margin-left: 10px;
}
.btn-success{
    margin-bottom: 5px;
}